
{% extends 'base.html' %}

{% load static %}
{% static "images" as baseUrl %}


{% block content %}
<style>
    .blog-box img{
         width: 345px;
         height: 200px;
     }

     .blog-meta{
         font-size : 15px;
     }
</style>
    <div id="wrapper">

        <div class="page-title wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-user-md bg-grey"></i> {{category.title}} <small class="hidden-xs-down hidden-sm-down">Nulla felis eros, varius sit amet volutpat non. </small></h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                           
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="portfolio row">

                            {% for post in catdetail%}

                            <div> </div>
                                <div class="pitem item-w1 item-h1">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="{{ post.get_absolute_url}}" title="">
                                                <img src="{{ post.thumbnail.url }}" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                    <span></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                           <h4> <a href="{{ post.get_absolute_url}}" title="">{{post.title}}</a> </h4>
                                            <a href="{{ post.get_absolute_url}}" title="">{{post.overview}}</a><br>
                                            <small><a href="{{ post.get_absolute_url}}" title="">{{post.timestamp}}</a></small>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                </div><!-- end col -->

                            {% endfor %}
                            </div><!-- end portfolio -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis">

                        
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

    </div><!-- end wrapper -->

    {% endblock content %}