


<div class="masonry-box post-media">
    <img src="upload/blog_masonry_02.jpg" alt="" class="img-fluid">
    <div class="shadoweffect">
       <div class="shadow-desc">
           <div class="blog-meta">
               <span class="bg-green"><a href="blog-category-01.html" title="">Travel</a></span>
               <h4><a href="single.html" title="">5 places you should see</a></h4>
               <small><a href="single.html" title="">24 July, 2017</a></small>
               <small><a href="blog-author.html" title="">by Amanda</a></small>
           </div><!-- end meta -->
       </div><!-- end shadow-desc -->
   </div><!-- end shadow -->
</div><!-- end post-media -->




<div class="masonry-box small-box post-media">
    <img src="upload/blog_masonry_04.jpg" alt="" class="img-fluid">
    <div class="shadoweffect">
       <div class="shadow-desc">
           <div class="blog-meta">
               <span class="bg-green"><a href="blog-category-01.html" title="">Travel</a></span>
               <h4><a href="single.html" title="">What you need to know for child health</a></h4>
           </div><!-- end meta -->
       </div><!-- end shadow-desc -->
   </div><!-- end shadow -->
</div><!-- end post-media -->



<div class="masonry-box small-box post-media">
    <img src="upload/blog_masonry_03.jpg" alt="" class="img-fluid">
    <div class="shadoweffect">
       <div class="shadow-desc">
           <div class="blog-meta">
               <span class="bg-green"><a href="blog-category-01.html" title="">Travel</a></span>
               <h4><a href="single.html" title="">Separate your place with exotic hotels</a></h4>
           </div><!-- end meta -->
       </div><!-- end shadow-desc -->
   </div><!-- end shadow -->
</div><!-- end post-media -->


def category_list(request,id):
    cat= post.objects.filter(category_id = request.kwargs.get('id'))

    context = {
        'cat' : cat
    }
    return render (request, 'category_list.html', context)


    path('category/<id>', category_list , name= 'category_list')


def get_category_count():
    
  return queryset






  <single class="html">{% extends 'base.html' %}



    {% block content %}
    
    {% load static %}
    {% static "images" as baseUrl %}
    
        <style>
            .single-post-media img{
    
                width: 700px;
                height: 400px;
    
    
            }
    
            .fa fa-instagram{
    
                font-size: 5px;
            }
    
        </style>
    
        <div id="wrapper">
    
            <section class="section wb">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="page-wrapper">
                                <div class="blog-title-area">
                                    <ol class="breadcrumb hidden-xs-down">
                                        <li class="breadcrumb-item"><a href="\">Home</a></li>
                                        <li class="breadcrumb-item"><a href="\blog">Blog</a></li>
                                        <li class="breadcrumb-item active">{{post.title}}</li>
                                    </ol>
                                    {% for cat in post.categories.all %}
                                    <span class="color-aqua"><a href="blog-category-01.html" title="">{{cat.title}}</a></span>
                                    {% endfor %}
                                    <h3>{{post.title}}</h3>
    
                                    <div class="blog-meta big-meta">
                                        <small><a href="single.html" title="">{{post.timestamp}}</a></small>
                                        <small><a href="blog-author.html" title="">by {{post.author.user.username}}</a></small>
                                        <small><a href="#" title=""><i class="fa fa-eye"></i> 2344</a></small>
                                    </div><!-- end meta -->
    
                                    <div class="post-sharing">
                                        <ul class="list-inline">
                                            <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                            <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                            <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div><!-- end post-sharing -->
                                </div><!-- end title -->
    
                                <div class="single-post-media">
                                    <img src="{{post.thumbnail.url}}" alt="" class="img-fluid">
                                </div><!-- end media -->
    
                                <div class="blog-content">  
                                    {{post.content | safe }}
                                </div><!-- end content -->
    
                                <div class="blog-title-area">
                                    <div class="tag-cloud-single">
                                        <span>Tags</span>
                                        <small><a href="#" title="">lifestyle</a></small>
                                        <small><a href="#" title="">colorful</a></small>
                                        <small><a href="#" title="">trending</a></small>
                                        <small><a href="#" title="">another tag</a></small><br>
    
                                       <br>
                                   
                                </div><!-- end title -->
    
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="banner-spot clearfix">
                                            <div class="banner-img">
                                                <img src="{% static 'upload/banner_01.jpg'%}" alt="" class="img-fluid">
                                            </div><!-- end banner-img -->
                                        </div><!-- end banner -->
                                    </div><!-- end col -->
                                </div><!-- end row -->
    
                                <hr class="invis1">
    
                                <div class="custombox prevnextpost clearfix">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="blog-list-widget">
                                                <div class="list-group">
                                                    {% if post.prev_post %}
                                                    <a href="{{post.prev_post.get_absolute_url}}" class="list-group-item list-group-item-action flex-column align-items-start">
                                                        <div class="w-100 justify-content-between text-right" >
                                                            <img src="{{post.prev_post.thumbnail.url}}" alt="" style = "width: 150px; height: 80px;" class="img-fluid float-right">
                                                            <h5 class="mb-1">{{ post.prev_post.title}}</h5>
                                                            <small>Prev Post</small>
                                                        </div>
                                                    </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div><!-- end col -->
    
                                        <div class="col-lg-6">
                                            <div class="blog-list-widget">
                                                <div class="list-group">
                                                    {% if post.next_post %}
                                                    <a href="{{post.next_post.get_absolute_url}}" class="list-group-item list-group-item-action flex-column align-items-start">
                                                        <div class="w-100 justify-content-between">
                                                            <img src="{{post.next_post.thumbnail.url}}" alt=""  style = "width: 150px; height: 80px;" class="img-fluid float-left">
                                                            <h5 class="mb-1">{{post.next_post.title}}</h5>
                                                            <small>Next Post</small>
                                                        </div>
                                                    </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                </div><!-- end author-box -->
    
                                <hr class="invis1">
    
                              
    
                                
    
                                <div class="custombox clearfix">
                                    <h4 class="small-title">You may also like</h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="blog-box">
                                                <div class="post-media">
                                                    <a href="single.html" title="">
                                                        <img src="{% static 'upload/menu_06.jpg'%}" alt="" class="img-fluid">
                                                        <div class="hovereffect">
                                                            <span class=""></span>
                                                        </div><!-- end hover -->
                                                    </a>
                                                </div><!-- end media -->
                                                <div class="blog-meta">
                                                    <h4><a href="single.html" title="">We are guests of ABC Design Studio</a></h4>
                                                    <small><a href="blog-category-01.html" title="">Trends</a></small>
                                                    <small><a href="blog-category-01.html" title="">21 July, 2017</a></small>
                                                </div><!-- end meta -->
                                            </div><!-- end blog-box -->
                                        </div><!-- end col -->
    
                                        <div class="col-lg-6">
                                            <div class="blog-box">
                                                <div class="post-media">
                                                    <a href="single.html" title="">
                                                        <img src="{% static 'upload/menu_07.jpg'%}" alt="" class="img-fluid">
                                                        <div class="hovereffect">
                                                            <span class=""></span>
                                                        </div><!-- end hover -->
                                                    </a>
                                                </div><!-- end media -->
                                                <div class="blog-meta">
                                                    <h4><a href="single.html" title="">Nostalgia at work with family</a></h4>
                                                    <small><a href="blog-category-01.html" title="">News</a></small>
                                                    <small><a href="blog-category-01.html" title="">20 July, 2017</a></small>
                                                </div><!-- end meta -->
                                            </div><!-- end blog-box -->
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                </div><!-- end custom-box -->
    
                                <hr class="invis1">
                                                
                            </div><!-- endpage-wrapper -->
                        </div><!-- end col  -->
     
                       {% include 'sidebar.html' with trending=latest %}
    
                                
                         
    
                    </div><!-- end row -->
                </div><!-- end container -->
            </section>
    
            
    
            <div class="dmtop">Scroll to Top</div>
            
        </div><!-- end wrapper -->
    
    {% endblock content %}</single>