

{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}


{% block content %}




    <div id="wrapper">
        <section class="section first-section"></section>
        <div class="masonry-blog clearfix">
            <div  class="container-fluid"></div>

            {% for obj  in section1_1%}
                
            <div class="left-side">
                <div class="masonry-box post-media">
                     <img src="{{obj.thumbnail.url}}"  style="width: 440px; height: 265px;" alt="" class="img-fluid">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                {% for cat in obj.categories.all %}
                                <span class="bg-green"><a href="blog-category-01.html" title="">{{cat.title}}</a></span>
                                {% endfor %}
                                <h4><a href="{{obj.get_absolute_url}}" title="">{{obj.title}}</a></h4>
                                <small><a href="{{obj.get_absolute_url}}" title="">{{obj.timestamp}}</a></small>
                                <small><a href="blog-author.html" title="">by{{obj.author.user.username}}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end left-side -->
           
            {% endfor %}

            {% for obj  in section1_2 %}
            <div class="center-side">
                

                <div class="masonry-box post-media">
                    <img src="{{obj.thumbnail.url}}"  style="width: 100% ; height: 265px;" alt="" class="img-fluid">
                    <div class="shadoweffect">
                       <div class="shadow-desc">
                           <div class="blog-meta">
                            {% for cat in obj.categories.all %}
                               <span class="bg-green"><a href="blog-category-01.html" title="">{{cat.title}}</a></span>
                               {% endfor %}
                               <h4><a href="{{ obj.get_absolute_url }}" title="">{{obj.title}}</a></h4>
                               <small><a href="{{ obj.get_absolute_url}}" title="">{{obj.timestamp}}</a></small>
                               <small><a href="blog-author.html" title="">by {{obj.author.user.username}}</a></small>
                           </div><!-- end meta -->
                       </div><!-- end shadow-desc -->
                   </div><!-- end shadow -->
                </div><!-- end post-media -->
                
           </div><!-- end centre-side -->

           {% endfor %}

           {% for obj in section1_3 %}

            <div class="right-side hidden-md-down">
                <div class="masonry-box post-media">
                     <img src="{{obj.thumbnail.url}}" style="width: 440px; height: 265px;" alt="" class="img-fluid">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                {% for cat in obj.categories.all %}
                                <span class="bg-aqua"><a href="blog-category-01.html" title="">{{cat.title}}</a></span>
                                {% endfor %}
                                <h4><a href="{{obj.get_absolute_url}}" title="">{{obj.title}}</a></h4>
                                <small><a href="{{obj.get_absolute_url}}" title="">{{obj.timestamp}}</a></small>
                                <small><a href="blog-author.html" title="">by {{obj.author.user.username}}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                     </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end right-side -->
                {% endfor %}
        </div><!-- end masonry -->
    </div>
</section>




        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="section-title">
                            <h3 class="color-aqua"><a href="" title="">Trending</a></h3>
                        </div><!-- end title -->

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                {% for obj in random1 %}

                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="{{obj.get_absolute_url}}" title="">
                                                <img src="{{ obj.thumbnail.url }}" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                <span></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta big-meta">
                                            <h3><a href="{{obj.get_absolute_url}}"  title="">{{ obj.title }}</a></h3>
                                            <p style="font-size: 15px;">{{ obj.overview }}</p>
                                            {%  for cat in obj.categories.all%}
                                            <small><a href="" title="">{{cat.title}}</a></small>
                                            {% endfor %}
                                            <small>{{ obj.timestamp }}</small>
                                            <small><a href="blog-author.html" title="">by {{obj.author.user.username}}</a></small>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->

                                    <hr class="invis">

                                {% endfor %}

                                
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->

                   
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-left: 50px;">
                        <div class="section-title">
                            <h3 class="color-pink"><a href="" title="">Most Viewed</a></h3>
                        </div><!-- end title -->
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">

                                {% for obj in random2 %}

                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="{{obj.get_absolute_url}}" title="">
                                            <img src="{{ obj.thumbnail.url }}" style=" width: 420px ; height: 200px;" alt="" class="img-fluid">
                                            <div class="hovereffect">
                                                <span></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta">
                                        <h4><a href="{{obj.get_absolute_url}}" title="">{{obj.title}}</a></h4>
                                        <small><a href="blog-category-01.html" title="">{{obj.timestamp}}</a></small>
                                    </div><!--end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                {% endfor %}

                               
                            </div><!-- end col -->
                        

                        
                        </div><!-- end row -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="invis1">

                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="{% static 'upload/banner_01.jpg'%}" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="invis1">

                <div class="row" >
                    <div class="col-lg-9">
                        <div class="blog-list clearfix">
                            <div class="section-title">
                                <h3 class="color-green"><a href="blog-category-01.html" title="">Technology</a></h3>
                            </div><!-- end title-->

                          
                                <hr class="invis">

                        

                                    {% for obj in category1 %}

                            <div class="blog-box row" >
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="{{obj.get_absolute_url}}" title="">
                                            <img src="{{ obj.thumbnail.url }}"  alt="" class="img-fluid">
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="blog-meta big-meta col-md-8">
                                    <h5><a href="{{obj.get_absolute_url}}" style="font-size: 22px;"  title="">{{ obj.title }}</a></h5>
                                    <p style="font-size: 15px; line-height: 1.9;">{{ obj.overview }}</p>
                                    <small><a href="{{obj.get_absolute_url}}" title="">{{obj.timestamp}}</a></small>
                                    <small><a href="{{obj.get_absolute_url}}" title=""></a></small>
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->

                            <hr class="invis">

                            {% endfor %}
                        </div><!-- end blog-list -->
                    </div><!-- end col -->

                    <div class="col-lg-3">
                        <div class="section-title">
                            <h3 class="color-yellow"><a href="blog-category-01.html" title="">Blog</a></h3>
                        </div><!-- end title-->


                        <hr class="invis">

                        {% for obj in category2 %}

                        <div class="blog-box">
                            <div class="post-media">
                                <a href="{{obj.get_absolute_url}}" title="">
                                    <img src="{{ obj.thumbnail.url }}"  alt="" class="img-fluid">
                                    <div class="hovereffect">
                                        <span></span>
                                    </div><!-- end hover -->
                                </a>
                            </div><!-- end media -->
                            <div class="blog-meta">
                                <h4><a href="{{obj.get_absolute_url}}" title="">{{ obj.title }}</a></h4>
                                
                                <small><a href="{{obj.get_absolute_url}}" title="">{{ obj.timestamp }}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box-->

                        <hr class="invis">
                        {% endfor %}

                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="invis1">

                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="{% static 'upload/banner_02.jpg'%}" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        

        <div class="dmtop">Scroll to Top</div>
        
    </div><!-- end wrapper -->

  
{% endblock content %}