{% extends 'base.html' %}

{% block content %}

{% load static %}
{% static "images" as baseUrl %}



<style>
    .single-post-media img{

        width: 700px;
        height: 400px;


    }

    .fa fa-instagram{

        font-size: 5px;
    }

    .vertical { 
            border-left: 1px solid rgb(201, 193, 193); 
            height: 100px; 
            position:absolute; 
            left: 50%; 
        }

</style>

    <div id="wrapper">

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area">
                                <ol class="breadcrumb hidden-xs-down">
                                    <li class="breadcrumb-item"><a href="\">Home</a></li>
                                    <li class="breadcrumb-item"><a href="\blog">Blog</a></li>
                                    <li class="breadcrumb-item active">{{post.title}}</li>
                                </ol>
                                {% for cat in post.categories.all %}
                                <span class="color-aqua"><a href="{{cat.get_absolute_url}}" title="">{{cat.title}}</a></span>
                                {% endfor %}
                                <h3>{{post.title}}</h3>

                                <div class="blog-meta big-meta">
                                    <small><a href="single.html" title="">{{post.timestamp}}</a></small>
                                    <small><a href="blog-author.html" title="">by {{post.author.user.username}}</a></small>
                                    <small><a href="#" title=""><i class="fa fa-eye"></i> 2344</a></small>
                                </div><!-- end meta -->

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-instagram"  style ="font-size: 20px; border-radius: 300px;" ></i></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->

                            <div class="single-post-media">
                                <img src="{{post.thumbnail.url}}" alt="" class="img-fluid">
                            </div><!-- end media -->

                            <div class="blog-content">  
                                {{post.content | safe }}
                            </div><!-- end content -->

                            <div class="blog-title-area">
                                <div class="tag-cloud-single">
                                    <span>Tags</span>
                                    <small><a href="#" title="">lifestyle</a></small>
                                    <small><a href="#" title="">colorful</a></small>
                                    <small><a href="#" title="">trending</a></small>
                                    <small><a href="#" title="">another tag</a></small>
                                </div><!-- end meta -->

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-instagram" style ="font-size: 20px;  border-radius: 300px; "></i></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="banner-spot clearfix">
                                        <div class="banner-img">
                                            <img src="{% static 'upload/banner_01.jpg'%}" alt="" class="img-fluid">
                                        </div><!-- end banner-img -->
                                    </div><!-- end banner -->
                                </div><!-- end col -->
                            </div><!-- end row -->

                            <hr class="invis1">

                            <div class="custombox prevnextpost clearfix">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="blog-list-widget">
                                            <div class="list-group">
                                                {% if post.prev_post %}
                                                <a href="{{post.prev_post.get_absolute_url}}"  class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="w-100 justify-content-between text-right">
                                                        <img src="{{post.prev_post.thumbnail.url}}" alt=""  style = "width: 150px; height: 80px;" class="img-fluid float-right">
                                                        <h5 class="mb-1">{{ post.prev_post.title}}</h5>
                                                        <small>Prev Post</small>
                                                    </div>
                                                </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div><!-- end col -->

                                    <div class = "vertical"></div>

                                    <div class="col-lg-6">
                                        <div class="blog-list-widget">
                                            <div class="list-group">
                                                {% if post.next_post %}
                                                <a href="{{post.next_post.get_absolute_url}}"  class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="w-100 justify-content-between">
                                                        <img src="{{post.next_post.thumbnail.url}}" alt="" style = "width: 150px; height: 80px;" class="img-fluid float-left">
                                                        <h5 class="mb-1">{{post.next_post.title}}</h5>
                                                        <small>Next Post</small>
                                                    </div>
                                                </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end author-box -->

                            <hr class="invis1">

                           

                            <hr class="invis1">

                            <div class="custombox clearfix">
                                <h4 class="small-title">You may also like</h4>
                                
                                <div class="row">
                                    {% if post.U_may_also_like_1  %}

                                    <div class="col-lg-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="{{ post.U_may_also_like_1.get_absolute_url}}" title="">
                                                    <img src="{{ post.U_may_also_like_1.thumbnail.url}}" style=" width: 400px; height: 200px;" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span class=""></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta">
                                                <h4><a href="{{ post.U_may_also_like_1.get_absolute_url}}" title="">{{  post.U_may_also_like_1.title }}</a></h4>
                                                {% for cat in  post.U_may_also_like_1.categories.all %} 
                                                <small><a href="{{ post.U_may_also_like_1.get_absolute_url}}" title="">{{ cat.title }}</a></small>
                                                {% endfor %}
                                                <small><a href="blog-category-01.html" title="">{{  post.U_may_also_like_1.timestamp }}</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->

                                    {% endif %}


                                    {% if post.U_may_also_like_2 %}

                                    <div class="col-lg-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="{{ post.U_may_also_like_2.get_absolute_url}}" title="">
                                                    <img src="{{ post.U_may_also_like_2.thumbnail.url}}" style=" width: 400px; height: 200px;" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span class=""></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta">
                                                <h4><a href="{{ post.U_may_also_like_2.get_absolute_url}}" title="">{{  post.U_may_also_like_2.title }}</a></h4>
                                                {% for cat in  post.U_may_also_like_2.categories.all %} 
                                                <small><a href="{{ post.U_may_also_like_2.get_absolute_url}}" title="">{{ cat.title }}</a></small>
                                                {% endfor %}
                                                <small><a href="blog-category-01.html" title="">{{  post.U_may_also_like_2.timestamp }}</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->

                                    {% endif %}
                                </div><!-- end row -->
                                
                            </div><!-- end custom-box -->

                            <hr class="invis1">

                            <!--
                            <div class="custombox clearfix">
                                <h4 class="small-title"> Comments</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        {% for comment in post.get_comments %}
                                        <div class="comments-list">
                                            <div class="media">
                                                <a class="media-left" href="#">
                                                    <img src="{% static 'upload/author.jpg'%}" alt="" class="rounded-circle">
                                                </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading user_name">{{ comment.user }} <small>{{comment.timestamp}} ago</small></h4>
                                                    <p>{{ comment.content }}</p>
                                                    <a href="#" class="btn btn-primary btn-sm">Reply</a>
                                                </div>
                                            </div>
                            
                                        </div>
                                        {%  endfor %}
                                    </div><!- end col->
                                </div><!- end row --
                            </div><!- end custom-box ->
                            <hr class="invis1">
                            <div class="custombox clearfix">
                                <h4 class="small-title">Leave a Reply</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form method="POST" action ="." class="form-wrapper">
                                            {% csrf_token %}
                                            {{ form }}
                                            <!-<input type="text" class="form-control" placeholder="Your name">
                                            <input type="text" class="form-control" placeholder="Email address">
                                        
                                            <textarea class="form-control" placeholder="Your comment"></textarea>->
                                            <button type="submit" class="btn btn-primary">Submit Comment</button>
                                        </form>
                                    </div>
                                </div>
                            </div>-->
                        </div><!-- endpage-wrapper -->
                    </div><!-- end col  -->
 
                   {% include 'sidebar.html' with trending=latest %}

                            
                     

                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        

        <div class="dmtop">Scroll to Top</div>
        
    </div><!-- end wrapper -->

{% endblock content %}