

{% load static %}
{% static "images" as baseUrl%}

<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <meta name="description" content= "{{ post.description}}">
    <meta name="keywords" content="{{post.key1}} , {{post.key2}}, {{post.key3}}, {{post.key4}}, {{post.key5}}, {{post.key6}}, {{post.key7}}, {{post.key8}}, {{post.key9}}, {{post.key10}}">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static ' images/favicon.ico '%}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png'%}">
    
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet"> 
   

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'style.css'%}" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="{% static 'css/responsive.css'%}" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="{% static 'css/colors.css'%}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{% static 'style.css'%}" rel="stylesheet">

     <!-- tINYmce LINK-->
     <link href="{% static 'css/github.css'%}" rel="stylesheet">



      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <style>
        .single-post-media img{
    
            width: 700px;
            height: 400px;
    
    
        }
    
        .fa fa-instagram{
    
            font-size: 5px;
        }
    

            }
    
    </style>

</head>

<body>

   

<!-- LOADER -->
<div id="preloader">
   <img class="preloader" src="{% static 'images/loader.gif'%}" alt="">
</div><!-- end loader -->
<!-- END LOADER -->


   <div class="collapse top-search" id="collapseExample">
       <div class="card card-block">
           <div class="newsletter-widget text-center">
               <form action ="{% url 'search' %}" class="form-inline">
                   <input type="text" name= "q" class="form-control" placeholder="What you are looking for?">
                   <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
               </form>
           </div><!-- end newsletter -->
       </div>
   </div><!-- end top-search -->

   <div class="topbar-section">
       <div class="container-fluid">
           <div class="row">
               <div class="col-lg-4 col-md-6 col-sm-6 hidden-xs-down">
                   <div class="topsocial">
                       <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                       <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                       <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                       <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                   </div><!-- end social -->
               </div><!-- end col -->

               

               <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
                   <div class="topsearch text-right">
                       <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-search"></i> Search</a>
                   </div><!-- end search -->
               </div><!-- end col -->
           </div><!-- end row -->
       </div><!-- end header-logo -->
   </div><!-- end topbar -->

   <div class="header-section">
       <div class="container">
           <div class="row">
               <div class="col-md-12">
                   <div class="logo">
                       <img src="{% static 'images/logo.png'%}" alt="">
                   </div><!-- end logo -->
               </div>
           </div><!-- end row -->
       </div><!-- end header-logo -->
   </div><!-- end header -->

<header class="header">
       <div class="container">
           <nav class="navbar navbar-inverse navbar-toggleable-md">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cloapediamenu" aria-controls="cloapediamenu" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse justify-content-md-center" id="cloapediamenu">
                   <ul class="navbar-nav">
                       <li class="nav-item">
                           <a class="nav-link color-pink-hover" href="/">Home</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link color-green-hover" href="/blog">Blog</a>
                       </li> 
                       
                       <li class="nav-item dropdown has-submenu">
                           <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
                           <ul class="dropdown-menu" aria-labelledby="dropdown02">
                               {% for cat in cat_count %}
                               <li><a class="dropdown-item" href="{% url 'category' cat.categories__id %}">{{cat.categories__title}}<span class="hidden-md-down hidden-sm-down hidden-xs-down"><i class="fa fa-angle-right"></i></span></a>
                               {% endfor %}
                           </ul>
                       </li>                 
                       <!-- NAv categories ,features 
                      
                      
                       -->
                   </ul>
               </div>
           </nav>
       </div><!-- end container -->
</header><!-- end header -->





    <div id="wrapper">

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area">
                                <ol class="breadcrumb hidden-xs-down">
                                    <li class="breadcrumb-item"><a href="\">Home</a></li>
                                    <li class="breadcrumb-item"><a href="\blog">Blog</a></li>
                                    <li class="breadcrumb-item active">{{post.title}}</li>
                                </ol>
                                {% for cat in post.categories.all %}
                                <span class="color-aqua"><a href="{{cat.get_absolute_url}}" title="">{{cat.title}}</a></span>
                                {% endfor %}
                                <h3>{{post.title}}</h3>

                                <div class="blog-meta big-meta">
                                    <small><a href="single.html" title="">{{post.timestamp}}</a></small>
                                    <small><a href="blog-author.html" title="">by {{post.author.user.username}}</a></small>
                                    <small><a href="#" title=""><i class="fa fa-eye"></i> 2344</a></small>
                                </div><!-- end meta -->

                                

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="https://www.facebook.com/sharer/sharer.php?u= {{ request.build_absolute_uri }}" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                        <li><a href="https://twitter.com/home?status={{share_string}}%20{{ request.build_absolute_uri }}" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-instagram"  style ="font-size: 20px; border-radius: 300px;" ></i></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->

                            <div class="single-post-media">
                                <img src="{{post.thumbnail.url}}" alt="" class="img-fluid">
                            </div><!-- end media -->

                            <div class="blog-content" style="font-size: 30px; margin-bottom: 50px; line-height: 75px; word-wrap: initial; ">  
                                {{post.content | safe }}
                            </div><!-- end content -->

                            <div class="blog-title-area">
                                <div class="tag-cloud-single">
                                    <span>Tags</span>
                                    <small><a href="#" title="">lifestyle</a></small>
                                    <small><a href="#" title="">colorful</a></small>
                                    <small><a href="#" title="">trending</a></small>
                                    <small><a href="#" title="">another tag</a></small>
                                </div><!-- end meta -->

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="https://www.facebook.com/sharer/sharer.php?u= {{ request.build_absolute_uri }}" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                        <li><a href="https://twitter.com/home?status={{share_string}}%20{{ request.build_absolute_uri }}" class="tw-button btn btn-primary" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-instagram" style ="font-size: 20px;  border-radius: 300px; "></i></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="banner-spot clearfix">
                                        <div class="banner-img">
                                            <img src="{% static 'upload/banner_01.jpg'%}" alt="" class="img-fluid">
                                        </div><!-- end banner-img -->
                                    </div><!-- end banner -->
                                </div><!-- end col -->
                            </div><!-- end row -->

                            <hr class="invis1">

                            <div class="custombox prevnextpost clearfix">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="blog-list-widget">
                                            <div class="list-group">
                                                {% if post.prev_post %}
                                                <a href="{{post.prev_post.get_absolute_url}}"  class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="w-100 justify-content-between text-right">
                                                        <img src="{{post.prev_post.thumbnail.url}}" alt=""  style = "width: 150px; height: 80px;" class="img-fluid float-right">
                                                        <h5 class="mb-1">{{ post.prev_post.title}}</h5>
                                                        <small>Prev Post</small>
                                                    </div>
                                                </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div><!-- end col -->

                            

                                    <div class="col-lg-6">
                                        <div class="blog-list-widget">
                                            <div class="list-group">
                                                {% if post.next_post %}
                                                <a href="{{post.next_post.get_absolute_url}}"  class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="w-100 justify-content-between">
                                                        <img src="{{post.next_post.thumbnail.url}}" alt="" style = "width: 150px; height: 80px;" class="img-fluid float-left">
                                                        <h5 class="mb-1">{{post.next_post.title}}</h5>
                                                        <small>Next Post</small>
                                                    </div>
                                                </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end author-box -->

                            <hr class="invis1">

                           

                            <hr class="invis1">

                            <div class="custombox clearfix">
                                <h4 class="small-title">You may also like</h4>
                                
                                <div class="row">
                                    {% if post.U_may_also_like_1  %}

                                    <div class="col-lg-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="{{ post.U_may_also_like_1.get_absolute_url}}" title="">
                                                    <img src="{{ post.U_may_also_like_1.thumbnail.url}}" style=" width: 400px; height: 200px;" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span class=""></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta">
                                                <h4><a href="{{ post.U_may_also_like_1.get_absolute_url}}" title="">{{  post.U_may_also_like_1.title }}</a></h4>
                                                {% for cat in  post.U_may_also_like_1.categories.all %} 
                                                <small><a href="{{ post.U_may_also_like_1.get_absolute_url}}" title="">{{ cat.title }}</a></small>
                                                {% endfor %}
                                                <small><a href="blog-category-01.html" title="">{{  post.U_may_also_like_1.timestamp }}</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->

                                    {% endif %}


                                    {% if post.U_may_also_like_2 %}

                                    <div class="col-lg-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="{{ post.U_may_also_like_2.get_absolute_url}}" title="">
                                                    <img src="{{ post.U_may_also_like_2.thumbnail.url}}" style=" width: 400px; height: 200px;" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span class=""></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta">
                                                <h4><a href="{{ post.U_may_also_like_2.get_absolute_url}}" title="">{{  post.U_may_also_like_2.title }}</a></h4>
                                                {% for cat in  post.U_may_also_like_2.categories.all %} 
                                                <small><a href="{{ post.U_may_also_like_2.get_absolute_url}}" title="">{{ cat.title }}</a></small>
                                                {% endfor %}
                                                <small><a href="blog-category-01.html" title="">{{  post.U_may_also_like_2.timestamp }}</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->

                                    {% endif %}
                                </div><!-- end row -->
                                
                            </div><!-- end custom-box -->

                            <hr class="invis1">

                        </div><!-- endpage-wrapper -->
                    </div><!-- end col  -->
 
                   {% include 'sidebar.html' with trending=latest %}

                            
                     

                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        

        <div class="dmtop">Scroll to Top</div>
        
    </div><!-- end wrapper -->

    {% load static %}

<style>

    .list-group img{
        width : 90px;
        height: 45px;
    }
</style>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <h2 class="widget-title">Recent Posts</h2>
                    <div class="blog-list-widget">
                        <div class="list-group">

                            {% for obj in latest %}

                            <a href="{{obj.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="w-100 justify-content-between">
                                    <img src="{{obj.thumbnail.url}}" alt="" class="img-fluid float-left">
                                    <h5 class="mb-1">{{ obj.title }}</h5>
                                    <small>{{ obj.timestamp}}</small>
                                </div>
                            </a>

                            {% endfor %}

                        </div>
                    </div><!-- end blog-list -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <h2 class="widget-title">Popular Posts</h2>
                    <div class="blog-list-widget">
                        <div class="list-group">
                            
                                {% for obj in popular %}

                            <a href="{{ obj.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="w-100 justify-content-between">
                                    <img src="{{ obj.thumbnail.url}}" alt="" class="img-fluid float-left">
                                    <h5 class="mb-1">{{obj.title}}</h5>
                                    <span class="rating">
                                       
                                    </span>
                                </div>
                            </a>
                            {% endfor %}
                            
                        </div>
                    </div><!-- end blog-list -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <h2 class="widget-title">Popular Categories</h2>
                    <div class="link-widget">
                        <ul>
                        
                            {% for cat in cat_count %}
                           
                            <li><a href="{% url 'category' cat.categories__id %}">{{cat.categories__title}} <span>{{cat.categories__count}}</span></a></li>
                            
                            {% endfor %}
                            
                        </ul>
                    </div><!-- end link-widget -->
                </div><!-- end widget -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="invis1">

        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="widget">
                    <div class="footer-text text-center">
                        <a href="index.html"><img src="{% static 'images/flogo.png '%}" alt="" class="img-fluid"></a>
                        <p>The person who doesnt know where his next dollar is coming from usually doesn't konw where his last dollar went .</p>
                        <div class="social">
                            <a href="https://www.facebook.com/avieen.joe" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>              
                            <a href="https://twitter.com/AvieenJ" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/next_millionarie" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="https://in.pinterest.com/avieeninfo" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                        </div>

                        <hr class="invis">

                        
                    </div><!-- end footer-text -->
                </div><!-- end widget -->
            </div><!-- end col -->
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <br>
            </div>
        </div>
    </div><!-- end container -->
</footer><!-- end footer -->





<!-- Core JavaScript
    ================================================== -->
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/tether.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/custom.js'%}"></script>

    <script src='{% static "js/highlight.pack.js" %}'></script>
    <script>hljs.initHighlightingOnLoad();</script>


</body>
</html>